@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}


/* ///////////..utility classes../////////// */

.container {
    position: relative;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}


/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0px 3px 5px 0px rgba(31, 255, 50, 0.575);
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 20;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #117964;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    border-radius: 8px;
    background-color: #117964;
    color: #F3FA1C;
    transition: color 0.3s ease-in-out;
}

.logo {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
}

.section1 {
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
    background-image: url(https://img.freepik.com/free-photo/top-view-healthy-balanced-vegetarian-food_1150-37023.jpg?w=740&t=st=1661881393~exp=1661881993~hmac=52f0e57ae7f0cb0817a09b27f74d004ecb1f683d55aff05eda52244bcee5b57a);
}