        @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
        *,
        *::after,
        *::before {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        
        .html {
            font-size: 62.5%;
        }
        
        body {
            font-family: "Poppins", sans-serif;
        }
        /* ///////////..utility classes../////////// */
        
        .container {
            max-width: 1200px;
            width: 90%;
            margin: auto;
        }
        /* ............/navbar/............ *

/* desktop mode............/// */
        
        .navbar input[type="checkbox"],
        .navbar .hamburger-lines {
            display: none;
        }
        
        .navbar {
            box-shadow: 0px 3px 5px 0px rgba(31, 255, 50, 0.575);
            position: fixed;
            width: 100%;
            background: #fff;
            color: #000;
            opacity: 0.85;
            height: 50px;
            z-index: 20;
        }
        
        .navbar-container {
            display: flex;
            justify-content: space-between;
            height: 64px;
            align-items: center;
        }
        
        .menu-items {
            order: 2;
            display: flex;
        }
        
        .menu-items li {
            list-style: none;
            margin-left: 1.5rem;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
        }
        
        .menu-items a {
            text-decoration: none;
            color: #117964;
            font-weight: 500;
            transition: color 0.3s ease-in-out;
        }
        
        .menu-items a:hover {
            border-radius: 8px;
            background-color: #117964;
            color: #F3FA1C;
            transition: color 0.3s ease-in-out;
        }
        
        .logo {
            order: 1;
            font-size: 2.3rem;
            margin-bottom: 0.5rem;
        }
        
        .home {
            display: flex;
            right: 0;
            left: 0;
            padding: 50px;
            position: absolute;
            justify-content: center;
        }
        
        .int-main {
            width: 500px;
            height: 500px;
            border: #000 solid 4px;
        }
        
        .section2 {
            display: flex;
            padding-top: 570px;
            max-width: 100%;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;
        }
        
        img {
            width: 100%;
        }
        
        .about-us {
            margin: auto;
            width: 80%;
            padding: 50px;
            position: absolute;
            top: 669px;
            text-align: center;
            background-color: #fff;
            opacity: 80%;
        }
        
        .menu1 {
            margin: auto;
            width: 80%;
            padding: 50px;
            position: absolute;
            top: 1258px;
            text-align: center;
            background-color: #fff;
            opacity: 80%;
        }